<h1>Welcome to Ports</h1>
Check out the <%= link_to 'Game List', games_path, class: "btn btn-default btn-xs"   %>
<BR>
Check out the <%= link_to 'Tools', tools_path, class: "btn btn-default btn-xs"   %>
<BR>
