<h1>Ports</h1>
<%= link_to 'Game List', games_path, class: "btn btn-default btn-xs"   %>
<BR>
<%= link_to 'Tools', tools_path, class: "btn btn-default btn-xs"   %>

<h1>Add a new Port</h1>

<%= render 'form' %>
<BR>
<%= link_to 'Back', games_path, class: "btn btn-default btn-xs" %>
